<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light p-3 rounded">
    <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-dark">Home</a></li>
    <li class="breadcrumb-item active text-primary" aria-current="page">View User</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="rows g-3 needs-validation" method="POST" action="/edituser/{{user.Id}}" novalidate>

  {{> user-form}}

       
</form>